@media screen and (max-width: 1199px) {
    nav {
        padding: 0 25px;

        ul {
            padding: 0;
            margin: 0 auto;
            width: 100%;
            max-width: 500px;
        }
    }

    .first-screen {
        padding: 0 25px;

        &-container {

            .earn {

                //!FROSTED EL
                &::before {
                    width: 100%;
                    height: 70vh;
                    border-right: 0;
                    border-bottom: 2px solid;
                    border-image: linear-gradient(to right, #dba6ffd6, #fd87876f, #ffd7a04b, #FFFFFF00) 1;
                }
            }
        }
    }
}
