<div class="modal amocrm">
  <div class="modal-container">
    <h2 class="title text-gradient">AmoCRM</h2>
    <h3 class="modal-subtitle">Lorem ipsum
      dolor sit amet consectetur
      adipisicing elit. Magni
      molestiae reprehenderit,
      quo perspiciatis eos officia
      optio, laborum sed ut,
      deserunt nemo? Aliquid numquam
      nulla vitae praesentium maxime
      recusandae quo vel.</h3>
    <div class="modal-btn-close">
    </div>
  </div>
</div>
<div class="modal myStorage">
  <div class="modal-container">
    <h2 class="title text-gradient">myStorage</h2>
    <h3>Lorem ipsum
      dolor sit amet consectetur
      adipisicing elit. Magni
      molestiae reprehenderit,
      quo perspiciatis eos officia
      optio, laborum sed ut,
      deserunt nemo? Aliquid numquam
      nulla vitae praesentium maxime
      recusandae quo vel.</h3>
    <div class="modal-btn-close">
    </div>
  </div>
</div>
<div class="modal onlinePBX">
  <div class="modal-container">
    <h2 class="title text-gradient">onlinePBX</h2>
    <h3 class="modal-subtitle">Lorem ipsum
      dolor sit amet consectetur
      adipisicing elit. Magni
      molestiae reprehenderit,
      quo perspiciatis eos officia
      optio, laborum sed ut,
      deserunt nemo? Aliquid numquam
      nulla vitae praesentium maxime
      recusandae quo vel.</h3>
    <div class="modal-btn-close">
    </div>
  </div>
</div>
<div class="modal sipuni">
  <div class="modal-container">
    <h2 class="title text-gradient">sipuni</h2>
    <h3 class="modal-subtitle">Lorem ipsum
      dolor sit amet consectetur
      adipisicing elit. Magni
      molestiae reprehenderit,
      quo perspiciatis eos officia
      optio, laborum sed ut,
      deserunt nemo? Aliquid numquam
      nulla vitae praesentium maxime
      recusandae quo vel.</h3>
    <div class="modal-btn-close">
    </div>
  </div>
</div>